---
import Layout from "../layouts/PageLayout.astro";
import "../styles/global.css";
---

<Layout title="danblog">
  <main>
    <h1>incompleto ainda infelizmente</h1>
    <p>em breve vai ta td certo</p>
    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100%;
  }
</style>
