---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<Layout title="dan blog">
  <main>
    <Navigation />
    <h1>title</h1>
  </main>
</Layout>

<style>
  h1 {
    color: black;
  }
</style>
