---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<Layout title="dan blog">
  <main>
    <p>🖖 eu faço sites.</p>
    <h1>Daniel Kondlatsch</h1>
  </main>
</Layout>

<style>
p{
  padding: 2.6em 0;
  font-size: 1.4em;
}
</style>
