---
import Layout from "../layouts/PageLayout.astro";
import "../styles/global.css";
const blogPost = await Astro.glob("./posts/*.md");
const limitedPosts = blogPost.sort((a, b) => {
  // Handle missing pubDate
  if (!a.frontmatter.pubDate || !b.frontmatter.pubDate) {
    console.warn("Post(s) missing pubDate. Sorting by title.");
    return a.frontmatter.title.localeCompare(b.frontmatter.title); // Sort by title if pubDate is missing
  }

  // Extract timestamps for comparison
  const timestampA = new Date(a.frontmatter.pubDate).getTime(); // Get milliseconds since epoch
  const timestampB = new Date(b.frontmatter.pubDate).getTime();

  // Sort based on timestamps (descending order for most recent)
  return timestampB - timestampA;
});

const threeMostRecent = limitedPosts.slice(0, 3);
---

<Layout title="Daniel Kondlatsch - dankwx">
  <main>
    <div class="apresentationSection">
      <div class="apresentationContent">
        <p class="teaser">🖖 eu faço sites.</p>
        <h1 class="name">Daniel Kondlatsch</h1>
        <p class="description">
          Sou um desenvolvedor <span class="descriptionSpam">front-end</span> que
          que cria
          <span class="descriptionSpam">experiências</span> web funcionais e elegantes
        </p>
      </div>
    </div>
    <div class="postSection">
      <div class="postsContent">
        <h1 class="postSectionTitle">Posts</h1>
        <div class="cardsWrapper">
          {
            threeMostRecent.map((poster) => (
              <a
                href={poster.url}
                style="text-decoration:none;color: black;"
                class="card"
              >
                <article>
                  <div class="postName">
                    <h3>{poster.frontmatter.title}</h3>
                    {poster.frontmatter.category && (
                      <span>{poster.frontmatter.category.join(", ")}</span>
                    )}
                  </div>
                  <div class="postDate">
                    {poster.frontmatter.pubDate && (
                      <span>
                        {new Date(
                          poster.frontmatter.pubDate
                        ).toLocaleDateString("en-GB")}
                      </span>
                    )}
                  </div>
                </article>
              </a>
            ))
          }
          <div class="morePosts">
            <a href="/blog/">Leia Mais...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="personalSection">
      <div class="content">
        <h2>Um pouco sobre mim</h2>
        <p>
          Crio sites desde criança, quando o blogspot era um ótimo jeito de
          criar blogs, eu mexia no codigo fonte e colocava o que na época era
          chamado de widgets de javascript, criava sites para meu familiares e
          várias das muitas coisas que eu gostava, principalmente relacionado a
          jogos.<br /><br />

          Agora sou um desenvolvedor front-end focado em tudo relacionado a
          criação de sites, frameworks, metodologias, não canso de aprender
          novas coisas da minha área que tanto amo e assim será para sempre.<br
          /><br />
          Programação é uma paixão.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100%;
  }
  .apresentationSection {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px;
    padding-bottom: 2em;
  }
  .apresentationContent {
    width: 55%;
  }
  .teaser {
    padding-top: 2.6em;
    font-size: 1.4em;
    color: #001d3d;
  }
  .name {
    font-size: 4.4em;
    font-weight: bold;
    padding-top: 0.9em;
    padding-bottom: 0.7em;
    font-family: "Aleo", serif;
    text-shadow:
      7.25px 0.25px 0 #83c5be,
      0.5px 0.5px 0 #83c5be,
      0.75px 0.75px 0 #83c5be,
      1px 1px 0 #83c5be,
      1.25px 1.25px 0 #83c5be,
      1.5px 1.5px 0 #83c5be,
      1.75px 1.75px 0 #83c5be,
      2px 2px 0 #83c5be,
      2.25px 2.25px 0 #83c5be,
      2.5px 2.5px 0 #83c5be,
      2.75px 2.75px 0 #83c5be,
      3px 3px 0 #83c5be,
      3.25px 3.25px 0 #83c5be,
      3.5px 3.5px 0 #83c5be,
      3.75px 3.75px 0 #83c5be,
      4px 4px 0 #83c5be,
      5.25px 5.25px 0 #83c5be,
      5.5px 5.5px 0 #83c5be,
      5.75px 5.75px 0 #83c5be,
      6px 6px 0 #83c5be;
  }
  .description {
    font-size: 2.4em;
    line-height: 1.6em;
  }
  .descriptionSpam {
    font-style: italic;
    /* https://coolors.co/palette/ffa69e-faf3dd-b8f2e6-aed9e0-5e6472 */
    color: #ffa69e;
  }
  .descriptionSpam:last-child {
    color: #e9c46a;
  }
  .postSectionTitle {
    font-size: 3.4em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .postSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f4e5e5;
    padding-bottom: 10em;
  }
  .postsContent {
    width: 55%;
  }
  .cardsWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    width: 100%;
    height: auto;
    border: solid 2px;
    margin-bottom: 1rem;
    display: block;
    box-sizing: border-box;
    padding: 2em 0;
    cursor: pointer;
    box-shadow:
      1px 1px 0 0 #555b6e,
      2px 2px 0 0 #555b6e,
      3px 3px 0 0 #555b6e,
      4px 4px 0 0 #555b6e,
      5px 5px 0 0 #555b6e,
      6px 6px 0 0 #555b6e;

    transition: box-shadow 0.3s ease;
  }
  a:hover {
    box-shadow: none;
  }
  article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
  }
  .postName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1em;
  }
  h3 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
  }
  .postDate {
    height: 100%;
    display: flex;
    align-items: center;
  }
  span {
    font-size: 1.4em;
  }
  .morePosts {
    padding-top: 3em;
  }
  .morePosts a {
    background-color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    color: #001d3d;
  }
  .personalSection {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bee3db;
    padding: 4em 0;
  }
  .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
  }
  .content h2 {
    font-family: "Aleo", sans-serif;
    font-weight: bold;
    margin-bottom: 1.4em;
    font-size: 3.3em;
  }

  .content p {
    font: inherit;
    font-size: 1.6em;
    font-family: "Poppins", sans-serif;
    line-height: 1.6em;
  }

  @media (max-width: 768px) {
    .apresentationContent {
      width: 85%;
    }
    .postsContent {
      width: 90%;
    }
    .content {
      width: 90%;
    }
    .name {
      font-size: 3.2rem;
    }
    .postName {
      margin-bottom: 1em;
    }
    .postDate span {
      word-break: break-word;
    }
    article {
      flex-direction: column;
      word-break: none;
      align-items: start;
    }
  }
</style>
