---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<Layout title="dan blog">
  <main>
    <h1>Blog Posts</h1>
  </main>
</Layout>

<style>
  h1 {
    color: black;
    padding: 1.6em 0;
  }
</style>
