---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Daniel Kondlatsch - dankwx">
  <main>
    <p class="teaser">🖖 eu faço sites.</p>
    <h1>Daniel Kondlatsch</h1>
    <p class="description">
      Sou um desenvolvedor <span>front-end</span> que gosta de construir site pra
      <span>tudo</span> que eu consigo imaginar
    </p>
  </main>
  <div class="hrWrapper">
  </div>
  <div class="postsWrapper">
    <h1>Posts</h1>
  </div>
</Layout>

<style>
.teaser{
  padding-top: 2.6em;
  font-size: 1.4em;
}
h1{
  font-size: 4.4em;
  padding-top:0.4em;
}
.description{
  font-size: 2.4em;
}
span{
  font-style: italic;
  /* https://coolors.co/palette/ffa69e-faf3dd-b8f2e6-aed9e0-5e6472 */
  color: #ffa69e;
}
span:last-child{
  color: #e9c46a;
}
.hrWrapper{
  width: 100%;
  height: 0.2vh;
  background-color:black;
}
.postsWrapper{
  margin:auto;
  max-width: 90ch;
}
</style>
