---

---

<div class="headerWrapper">
  <div class="leftContainer">
    <img src="https://img.icons8.com/?size=64&id=geMFbLqfiOHh&format=png" />
    <p>dankwx</p>
  </div>
  <div class="rightContainer">
    <a href="/">Home</a>
    <a href="https://www.dankwx.com" target="_blank">Portfolio</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </div>
  <div class="mobileContainer">
    <div class="mobileTitle">
      <img src="https://img.icons8.com/?size=64&id=geMFbLqfiOHh&format=png" />
      <p>dankwx</p>
    </div>
    <div class="mobileMenu">
      <svg xmlns="http://www.w3.org/2000/svg" width="2.6em" height="2.6em" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>
    </div>
  </div>
</div>

<style>
  .headerWrapper {
    width: 100%;
    height: 4rem;
    margin-top: 1em;
    max-height: 4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
  }
  .mobileContainer{
    display: none;
  }
  .leftContainer {
    font-weight: bold;
    font-size: 1.8em;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
  }
  .leftContainer img {
    width: 20%;
  }
  .rightContainer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
  }

  @media (max-width: 768px) {
    .headerWrapper{
     
    }
    .leftContainer, .rightContainer{
      display: none;
    }
  .mobileContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobileTitle{
    display:flex;
    align-items: center;
    min-width: 40%;
    height: 100%;
    padding-left:1em;

  }
  .mobileTitle p{
    font-family: Lato,sans-serif;
    font-weight: bold;
    font-size:1.8em;
  }
  .mobileTitle img{
    width: 35px;
  }
  .mobileMenu{
    min-width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right:1em;
  }

  .mobileMenu{
    display:flex;

  }
}
</style>
