---
import "../styles/postGlobal.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;

function formatarData(data: string) {
  const nomesMeses = [
    "Janeiro",
    "Fevereiro",
    "Março",
    "Abril",
    "Maio",
    "Junho",
    "Julho",
    "Agosto",
    "Setembro",
    "Outubro",
    "Novembro",
    "Dezembro",
  ];

  const dataObj = new Date(data);
  const dia = String(dataObj.getDate()).padStart(2, "0");
  const mes = nomesMeses[dataObj.getMonth()];
  const ano = dataObj.getFullYear();

  return `${dia} de ${mes}, ${ano}`;
}
---

<main>
  <Navigation />
  <slot />
  <Footer />
</main>