---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const {frontmatter} = Astro.props;
---

<main>
    <Navigation />
    <h1>{frontmatter.title}</h1>
    <slot />
    <Footer />
</main>